<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>
                        <a href="index.html" class="text-uppercase">
                        netflix
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="serach">Search</label>
                    <input type="text" name="" placeholder="search" [(ngModel)]="inputValue"  class="form-control">
                </div>
            </div>
        </div>
    </div>
</header>